{% include 'events/partials/head.html' %}
{% include 'events/partials/body.html' %}

    <h2>Esta é a página inicial do site de eventos LaPhotus.</h2>

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="event event-list-item">
                <div class="event-cover">
                    <img src="https://placehold.co/1280x720/blue/gray" alt="Temporário">
                </div>
                <h1>Hoi</h1>
            </div>
        </div>
    </main>
</body>

</html>