{% include 'events/partials/head.html' %}
{% include 'events/partials/body.html' %}

    <h2>Esta é a página inicial do site de eventos LaPhotus.</h2>

    <main class="main-content-container">
        <div class="main-content main-content-list container">

            <div class="event event-list-item">

                <div class="event-cover">
                    <img src="https://placehold.co/1280x720/blue/gray" alt="Temporário">
                </div>

                <div class="event-title-container">
                    <h2 class="event-title">Lorem ipsum dolor sit amet.</h2>
                </div>

                <div class="event-author">
                    <span class="event-author-item">
                        <i class="fas fa-user"></i>
                        Otávio Lomeu
                    </span>

                    <span class="event-author-item">
                        <i class="fas fa-calendar-alt"></i>
                        07/11/2025 às 11:21
                    </span>

                    <span class="event-author-item">
                        <a href="/events/category/jogo-futebol/">
                            <i class="fas fa-layer-group"></i>
                            <span>Jogo de Futebol</span>
                        </a>
                    </span>
                </div>

                <div class="event-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat commodi ullam quas modi. Ea cumque labore veniam, sequi corrupti quas beatae fuga alias quae, vero dicta accusamus aliquam in!</p>
                </div>

            </div>

        </div>

    </main>
</body>

</html>