<body>
    <header class="main-header-container">
        <div class="main-header container">
            <h1> 
                <a class="main-logo" href="/"> LaPhotus </a> 
            </h1>


            <nav class="nav-container">
                <a class="srch-btn"  href="/buscar/"> Buscar Fotos </a>
                <a class="photo-btn" href="/fotografos/"> Para Fotógrafos </a>
                <a class="how-btn" href="/como-funciona/"> Como Funciona </a>
                <a class="cta-btn" href="/contato/"> Contato </a>
            </nav>
        </div>
    </header>